# BotFather dan olingan token
BOT_TOKEN=8677716256:AAFsrPU-c_Ji4_dTtmWFSIrzOc9t_b2rtiI

# Adminlar Telegram ID lari (vergul bilan ajratib yozing)
# O'z ID ingizni bilish uchun botda /myid buyrug'ini yuboring
ADMIN_IDS=7591385385

# SQLite DB fayli (o'zgartirmasangiz ham bo'ladi)
DB_PATH=bot.db
